<!DOCTYPE html>
<html>

<head>
    <title>Choose Stock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1>Enter Stock Symbol</h1>
        <form method="POST" action="{{ url_for('stock_info') }}">
            <div class="form-group">
                <label for="symbol">Symbol:</label>
                <input type="text" class="form-control" name="symbol" id="symbol" placeholder="e.g. TSLA, NVDA..."
                    required>
            </div>
            <div class="form-group">
                <label for="start_date">Start Date:</label>
                <input type="date" class="form-control" name="start_date" id="start_date" required
                    max="{{ date.today().strftime('%Y-%m-%d') }}">
            </div>
            <div class="form-group">
                <label for="end_date">End Date:</label>
                <input type="date" class="form-control" name="end_date" id="end_date" required
                    max="{{ date.today().strftime('%Y-%m-%d') }}">
            </div>
            <button type="submit" class="btn btn-primary" onclick="return validateDates()">Submit</button>
        </form>
    </div>

    <script>
        function validateDates() {
            var startDate = new Date(document.getElementById("start_date").value);
            var endDate = new Date(document.getElementById("end_date").value);
            if (startDate > endDate) {
                alert("End date must be after start date.");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>