<!DOCTYPE html>
<html>

<head>
    <title>{{ stock_name }} Stock Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #plot {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    </style>
</head>

<body class="container my-3">

    <h1 class="text-center mb-3">Stock information for {{ stock_name }}</h1>

    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
        <a href="data:application/pdf;base64,{{ pdf_data }}" download="export.pdf">
            <button type="submit" class="btn btn-primary">PDF Export</button>
        </a>
    </div>
    <div>
        <p class="mb-3">Return to <a href="/">Home Page</a> and enter another stock.</p>
        <h4>Correlation with S&P 500</h4>
        <p class="mb-3">The correlation between {{ stock_name }} and the S&P 500 is {{ corr }}.</p>

        <h4>Normality Tests</h4>
        <p class="mb-3">{{ normality_test_result }}</p>

        <h4>Stationarity Test</h4>
        <p class="mb-3">{{ stationarity_test_result }}</p>

        <h4>Granger Causality Test</h4>
        <p>Granger causality is a statistical method used to determine the causal relationship between two time
            series variables. In the context of stock analysis, granger causality test can be applied to assess whether
            one stock's past values can help predict or explain the future values of another stock.</p>
        <div class="container mt-5">
            <pre class="bg-light p-4"><code>{{ granger_causality_test_result }}</code></pre>
        </div>

    </div>
    <h1 class="text-center my-3">Charts</h1>
    <div id="plot">
        {{ plots|safe }}
    </div>

    <h1 class="text-center my-3">Map</h1>
    <div id="map">{{ map_html|safe }}</div>

    <h1 class="text-center my-3">{{ stock_name }} Stock Price</h1>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
                <th>Dividend</th>
                <th>Split Coeff</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in table.iterrows() %}
            <tr>
                <td>{{ row.iloc[1] }}</td>
                <td>{{ row.iloc[2] }}</td>
                <td>{{ row.iloc[3] }}</td>
                <td>{{ row.iloc[4] }}</td>
                <td>{{ row.iloc[5] }}</td>
                <td>{{ row.iloc[6] }}</td>
                <td>{{ row.iloc[7] }}</td>
                <td>{{ row.iloc[8] }}</td>
                <td>{{ row.iloc[9] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>